<template>
    <div>
        <label :for="id">{{ label }}</label>
        <div class="thumbnail text-center">
            <svg class="icon">
                <use class="media-object" :xlink:href="src + selected"></use>
            </svg>
        </div>
        <select v-model="selected" class="form-control select2 with-icon" :id="id" :name="name"
                v-on:input="selectIcon($event.target.value)">
            <!-- inline object literal -->
            <option v-for="item in icons" :value="item.machine_name">{{ item.name }}</option>
        </select>
    </div>
</template>

<script>
    export default{
        props: {
            id: String,
            name: String,
            value: String,
            label: String,
            src: String,
        },
        data(){
            return {
                selected: '',
                icons: [],
            }
        },
        mounted(){
            let self = this;

            if (typeof this.value !== 'undefined') {
                this.selected = this.value;
            }
            this.fetchIcons();


            $('#' + this.id).on('select2:select', function ($event) {
                self.selectIcon($event.target.value);
            })
        },
        methods: {
            fetchIcons: function () {
                this.$http.get('/admin/settings/icons').then(response => {
                    this.icons = response.data
                });
            },
            selectIcon: function (value) {
                this.selected = value;
                this.$emit('input', value);
            }
        },
        watch: {
            value: function (value) {
                this.selected = value;
            }
        }
    }
</script>
