<template>
    <div>
        <div v-show="!editable">
            <div class="image-view">
                <img :src="imageView" :class="preview" v-if="imageView"/>
            </div>
            <button @click.prevent="change" class="btn btn-success">{{ btnChange }}</button>
        </div>
        <div class="image-body" v-show="editable">
            <!-- Upload image and data -->
            <div class="image-upload">
                <input type="file" class="image-input" id="imageInput" name="image_file"
                       v-on:change="changeFile($event)">
            </div>
            <!-- Crop and preview -->
            <div class="row">
                <div class="col-lg-9">
                    <vue-cropper
                            :aspectRatio="aspectRatio"
                            ref='cropper'
                            :guides="true"
                            :view-mode="viewMode"
                            drag-mode="crop"
                            :auto-crop-area="0.5"
                            :background="true"
                            :rotatable="true"
                            :src="cropImg"
                            :data="cropData"
                            preview=".image-preview"
                            :alt="imageAlt"
                            :crop="crop"
                            class="image-wrapper"
                            v-if="cropImg"
                    >
                    </vue-cropper>
                </div>
                <div class="col-lg-3 visible-lg">
                    <div :class="['image-preview preview-lg', preview]"></div>
                    <div :class="['image-preview preview-md', preview]"></div>
                    <div :class="['image-preview preview-sm', preview]"></div>
                </div>
            </div>
            <div class="row image-btns">
                <div class="col-md-9">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" title="Move"
                                @click.prevent="$refs.cropper.setDragMode('move')">
                            <span class="fa fa-arrows"></span>
                        </button>
                        <button type="button" class="btn btn-primary"
                                title="Crop" @click.prevent="$refs.cropper.setDragMode('crop')">
                            <span class="fa fa-crop"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" title="Zoom In"
                                @click.prevent="$refs.cropper.zoom(0.1)">
                            <span class="fa fa-search-plus"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Zoom Out"
                                @click.prevent="$refs.cropper.zoom(-0.1)">
                            <span class="fa fa-search-minus"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" title="Move Left"
                                @click.prevent="$refs.cropper.move(-10, 0)">
                            <span class="fa fa-arrow-left"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Move Right"
                                @click.prevent="$refs.cropper.move(10, 0)">
                            <span class="fa fa-arrow-right"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Move Up"
                                @click.prevent="$refs.cropper.move(0, -10)">
                            <span class="fa fa-arrow-up"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Move Down"
                                @click.prevent="$refs.cropper.move(0, 10)">
                            <span class="fa fa-arrow-down"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" title="Flip Horizontal"
                                @click.prevent="$refs.cropper.scaleX(-1)">
                            <span class="fa fa-arrows-h"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Flip Vertical"
                                @click.prevent="$refs.cropper.scaleY(-1)">
                            <span class="fa fa-arrows-v"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                        <button @click.prevent="cropImage" class="btn btn-primary">{{ btnOk }}</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="crop_data" :value="cropDataJson">
    </div>
</template>

<script>
    import VueCropper from 'vue-cropperjs';

    export default{
        components: {VueCropper},
        props: {
            'imageSrc': String,
            'preview': {
                type: String,
                default: ''
            },
            'aspectRatio': Number,
            'btnChange': {
                type: String,
                default: 'Change Image'
            },
            'imageAlt': {
                type: String,
                default: ' '
            },
            'btnOk': {
                type: String,
                default: 'Done'
            },
            'viewMode': {
                type: Number,
                default: 0
            }
        },
        computed: {
            cropDataJson: function () {
                return JSON.stringify(this.cropData);
            }
        },
        data () {
            return {
                cropImg: null,
                cropData: null,
                editable: false,
                imageView: '',
            };
        },
        mounted() {
            if (this.imageSrc !== '') {
                this.imageView = this.imageSrc;
            }
        },
        methods: {
            change () {
                if (this.imageSrc !== '' && this.cropImg == null) {
                    this.cropImg = this.imageSrc;
                }
                this.editable = true;
            },
            changeFile ($event) {
                var file = $event.target.files[0];
                this.cropImg = URL.createObjectURL(file);
                if (this.$refs.cropper) {
                    this.$refs.cropper.replace(this.cropImg)
                }
            },
            cropImage () {
                if (this.$refs.cropper) {
                    this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
                    this.cropData = this.$refs.cropper.getData();
                    this.imageView = this.cropImg;
                }
                this.editable = false;
            },
            crop(e) {
                if (this.editable) {
                    this.cropData = e.detail;
                }
            }
        }
    }
</script>
