<template>
    <div class="widget widget-fullwidth widget-small">
        <div class="widget-head">
            <div class="tools">
                <span class="icon s7-plus" @click.prevent="addItem"></span>
            </div>
            <div class="title">{{ lang('headers.program.items.index') }}</div>
        </div>
        <div>
            <table class="table table-striped table-fw-widget table-hover">
                <thead>
                <tr>
                    <th width="10%">{{ lang('fields.icon') }}</th>
                    <th width="55%">
                        {{ lang('fields.name') }}
                    </th>
                    <th width="10%" class="number">{{ lang('fields.actions') }}</th>
                </tr>
                </thead>
                <tbody class="no-border-x icons-list" v-if="programItems.length > 0">
                <tr v-for="(item, index) in programItems" class="">
                    <td :class="['icon-sm', {'has-error': errors && errors[name+'.'+index+'.icon']}]">
                        <svg class="icon">
                            <use :xlink:href="src + item.icon"></use>
                        </svg>
                        <small class="help-block" v-if="errors && errors[name+'.'+index+'.icon']">
                            {{ errors && errors[name + '.' + index + '.icon'] ? errors && errors[name + '.' + index + '.icon'][0] : ''
                            }}
                        </small>
                    </td>
                    <td :class="{'has-error': errors && (errors[name+'.'+index+'.icon'] || errors[name+'.'+index+'.about'])}">
                        <span class="strong">{{ item.name }}</span>
                        <small class="help-block" v-if="errors && errors[name+'.'+index+'.name']">
                            {{ errors && errors[name + '.' + index + '.name'] ? errors && errors[name + '.' + index + '.name'][0] : ''
                            }}
                        </small>
                        <small class="help-block" v-if="errors && errors[name+'.'+index+'.about']">
                            {{ errors && errors[name + '.' + index + '.about'] ? errors && errors[name + '.' + index + '.about'][0] : ''
                            }}
                        </small>
                    </td>
                    <td class="number">
                        <a href="#" @click.prevent="editItem(index, item)">{{ lang('buttons.edit') }}</a>
                        <a href="#" @click.prevent="removeItem(index)">{{ lang('buttons.remove') }}</a>
                    </td>
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                    <td colspan="3">{{ lang('messages.no_program_items') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="edit-item-modal" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editItemModalLabel">{{ lang('headers.program.items.create') }}</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="new_item_name" class="control-label">{{ lang('fields.name') }}:</label>
                                <input type="text" class="form-control" id="new_item_name" v-model="editable.name">
                            </div>
                            <div class="form-group">
                                <icon-choice id="new_item_icon" name="icon" :label="lang('fields.icon') + ':'"
                                             :src="src"
                                             v-model="editable.icon"
                                ></icon-choice>
                            </div>
                            <div class="form-group">
                                <label for="new_item_about" class="control-label">{{ lang('fields.about') }}:</label>
                                <tinymce class="form-control without-resize" id="new_item_about"
                                         :options="tinymceOptions" name="about" rows="10"
                                         v-model="editable.about" @change="changedDesc" :content='content'></tinymce>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('buttons.close') }}
                        </button>
                        <button type="button" class="btn btn-primary" @click.prevent="saveItem(editableIndex)">{{
                            lang('buttons.save') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: Array,
            name: String,
            src: String,
            errors: Object,
        },
        data() {
            return {
                editable: {},
                programItems: [],
                editableIndex: null,
                content: '',
                tinymceOptions: {
                    toolbar: 'removeformat | bold italic underline strikethrough | bullist numlist | undo redo outdent indent | alignleft alignright aligncenter alignjustify alignnone',
                    plugins: "lists autoresize",
                    menubar: false,
                    statusbar: false,
                }
            }
        },
        mounted() {
            if (!_.isUndefined(this.value)) {
                this.programItems = this.value;
            }
        },
        methods: {
            addItem: function () {
                this.editable = {};
                this.editableIndex = null;
                this.content = '';
                $('#edit-item-modal').modal('show');
            },
            saveItem: function (index) {
                $('#edit-item-modal').modal('hide');
                if (index !== null) {
                    this.$set(this.programItems, index, _.clone(this.editable));
                } else {
                    this.programItems.push(_.clone(this.editable));
                }
            },
            editItem: function (index, item) {
                this.editableIndex = index;
                this.editable = _.clone(item);
                this.content = item.about;
                $('#edit-item-modal').modal('show');
            },
            removeItem: function (index) {
                this.programItems.splice(index, 1);
            },
            changedDesc: function () {

            }
        },
        watch: {
            value: function (value) {
                this.programItems = value;
//
//                this.programItems.map(function (item) {
//
//                    item.icon = item.icon.machine_name;
//                });
            },
            programItems: function (value) {
                this.$emit('input', value);
            }
        }
    }
</script>
