<template>
    <div>
        <form method="POST"
              :action="action"
              enctype="multipart/form-data">
            <input type="hidden" name="_method" :value="method">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div :class="['form-group', { 'has-error': errors.name }]">
                                <label for="name">{{ lang('fields.name') }}</label>
                                <input type="text" id="name" name="name" class="form-control"
                                       v-model="program.name">
                                <small class="help-block" v-if="errors.name">
                                    {{ errors.name ? errors.name[0] : '' }}
                                </small>
                            </div>
                            <div :class="['form-group', { 'has-error': errors.icon }]">
                                <icon-choice id="icon" name="icon" :label="lang('fields.icon')"
                                             :src="iconSrc"
                                             v-model="program.icon"
                                ></icon-choice>
                                <small class="help-block" v-if="errors.name">
                                    {{ errors.icon ? errors.icon[0] : '' }}
                                </small>
                            </div>
                            <div :class="['form-group', { 'has-error': errors.active }]">
                                <div class="am-checkbox">
                                    <input id="active" type="checkbox" name="active" v-model="program.active">
                                    <label for="active">{{ lang('fields.active') }}</label>
                                </div>
                                <small class="help-block" v-if="errors.name">
                                    {{ errors.active ? errors.active[0] : '' }}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Responsive table-->
                        <div class="col-sm-12">
                            <program-items v-model="program.items" name="items" :src="iconSrc" :errors="errors">
                            </program-items>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" :value="lang('buttons.save')" class="btn btn-primary"
                               @click.prevent="save">
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default{
        props: ['action', 'method', 'iconSrc', 'programId'],
        data(){
            return {
                program: {},
                errors: {}
            }
        },
        mounted(){
            if (this.programId) {
                this.fetchProgram();
            }
        },
        methods: {
            fetchProgram: function () {
                this.$http.get('/admin/programs/' + this.programId)
                    .then(function (response) {
                        this.program = response.data;
                        this.program.icon = this.program.icon.machine_name;
                        this.program.items.map(function (item) {
                            item.icon = item.icon.machine_name;
                        })
                    });
            },
            save: function () {
                if (this.method) {
                    this.program['_method'] = this.method;
                }
                this.$http.post(this.action, this.program).then(function (response) {
                    if (response.data.redirect) {
                        window.location.href = response.body.redirect;
                    }
                }, function (errors) {
                    this.errors = errors.data;
                });
            }
        }
    }
</script>
