<template>
    <div :class="['switch-button', {'switch-button-yesno': switchYesNo }]">
        <input type="checkbox" :name="name" v-on:change="switchToggle($event)"
               :id="id" v-model="checkbox">
        <span><label :for="id"></label></span>
    </div>
</template>

<script>
    export default{
        props: {
            'name': String,
            'id': String,
            'value': Number,
            'switchYesNo': {
                type: Boolean,
                default: false
            },
            'updateSrc': String
        },
        data(){
            return {
                checkbox: false
            }
        },
        mounted() {
            this.checkbox = Boolean(this.value);
        },
        methods: {
            switchToggle: function ($event) {
                var formData = {'_method': 'PUT'};
                formData[this.name] = this.checkbox;

                this.$http.post(this.updateSrc, formData);
            }
        }
    }
</script>
