.btn {

    &-warning {
        background-color: $gold-color;
        border-color: $gold-color;

        &:hover {
            background-color: $gold-color;
            border-color: $gold-color;
        }

        &:focus:active, &:focus, &:active {
            color: $text-color;
            background-color: darken($gold-color, 5%);
            border-color: darken($gold-color, 5%);
        }
    }

    &.transparent {
        opacity: 0.87;

        &:hover, &:focus {
            opacity: 1;
        }
    }
}