.carousel, .program {
    & &-indicators, .slick-dots {
        font-size: 0;
        line-height: 0;
        margin-bottom: 0;
        bottom: 16px;
        list-style: none;

        > li {
            width: 26px;
            height: 26px;
            opacity: 0.68;
            background-color: $grey-color;
            border: 0;
            border-radius: 26px;
            margin: 0 6px;

            &.active, &.slick-active {
                background-color: $gold-color;
                opacity: 1;
            }

            @media(min-width: 768px) and (max-width: 980px) {
                width: 20px;
                height: 20px;
                border-radius: 20px;
            }

            @media (max-width: 767px) {
                width: 16px;
                height: 16px;
                border-radius: 16px;
            }
        }
    }

    .slick-dots {
        bottom: -10px;

        & button:before {
            content: '';
        }
    }

    &-inner {
        & > .item {
            & > img {
                width: 100%;
            }
        }

        &.transparent {
            & > .item {
                opacity: 0.8;
            }
        }

        & .the-box {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 70%;

            @media(min-width: 768px) and (max-width: 980px) {
                width: 80%;
            }

            @media(max-width: 767px) {
                width: 85%;
            }
        }
    }

    &-control {
        background-image: none;

        & .button {
            position: absolute;
            width: 45px;
            margin-bottom: -75px;
            bottom: 50%;
            z-index: 5;
            fill: $gold-color;

            &.prev-button {
                left: 55px;
            }

            &.next-button {
                right: 55px;
            }

            @media(min-width: 768px) and (max-width: 980px) {
                width: 31px;

                &.prev-button {
                    left: 40px;
                }

                &.next-button {
                    right: 40px;
                }
            }

            @media(max-width: 767px) {
                width: 20px;

                &.prev-button {
                    left: 11px;
                }

                &.next-button {
                    right: 11px;
                }
            }
        }
    }
}

