@font-face {
    font-family: "CoreSans";
    src: url("../css/fonts/core-sans/CoreSansA45Regular.otf") format("opentype");
}

@font-face {
    font-family: "CoreSans";
    font-weight: bold;
    src: url("../css/fonts/core-sans/CoreSansA65Bold.otf") format("opentype");
}