.header {
  background-color: $dark-background-color;
  position: fixed;
  top: 0;
  width: inherit;
  font-family: "CoreSans";
  font-size: $font-size-base;
  font-weight: 700;
  height: 120px;
  z-index: 20;
  transition: All 0.3s ease;

  &.hidden-to-top {
    top: -120px;

    @media (max-width: 767px) {
      &.hidden-to-top {
        top: -90px;
      }
    }
  }

  & .brand {
    position: relative;
    font-weight: 500;
    padding-left: 114px;
    padding-top: 20px;
    height: 100%;

    & .logo {
      position: absolute;
      left: 8px;
      top: 0;
      width: 100px;
    }

    @media(max-width: 767px) {
      padding-top: 9px;
      padding-left: 65px;

      & .logo {
        width: 60px;
        left: 1px;
      }
    }

    @media(max-width: 320px) {
      font-size: 12px;
      padding-top: 9px;
      padding-left: 55px;
      height: auto;

      & .logo {
        width: 50px;
        left: 1px;
      }
    }
  }

  &-right {
    float: right;
    padding-right: 13px;
    z-index: 10;
    position: relative;
  }
  &-row {
    padding-bottom: 4px;

    & .icons {
      display: flex;
      justify-content: space-between;
      padding: 5px 0 5px;
    }

    @media(max-width: 767px) {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;

      & .icons {
        width: 100px;
        position: absolute;
        right: 0;
        flex-wrap: wrap;
        top: 0;
        padding: 5px;
        align-items: flex-start;
        justify-content: center;

        img {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        & .small {
          width: 25px;
          margin: auto 2px;
        }
      }
    }

    @media(max-width: 480px) {
      font-size: 10px;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;

      & .icons {
        width: 60px;
        position: absolute;
        right: 0;
        flex-wrap: wrap;
        top: 0;
        padding: 5px;

        img {
          padding-top: 5px;
          padding-bottom: 5px;
          width: 40px;
          height: auto;

          &.small {
            width: 20px;
            height: auto;
          }
        }
      }
    }
  }

  @media(max-width: 767px) {
    font-size: $font-size-little;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 90px;

    &-right {
      float: none;
      padding-right: 13px;
      order: 2;
      padding-left: 45px;
      position: static;
    }

    &-phone {
      position: absolute;
      top: 50px;
    }
  }

  @media (max-width: 480px) {
    font-size: 15px;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 50px;

    &-right {
      padding-right: 0;
      float: none;
      order: 2;
      padding-left: 30px;
      position: static;

      @media (max-width: 270px) {
        padding-left: 0;
      }
    }

    &-phone {
      left: 60px;

      @media (max-width: 340px) {
        top: 60px;
        left: 50px;
      }
    }
  }
}
