.icon-items {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    &.col {
        padding: 10px 100px;

        @media(min-width: 768px) and (max-width: 980px) {
            padding: 10px 50px;
        }

        @media (max-width: 767px) {
            padding: 10px 37px;
        }

        @media (max-width: 480px) {
            padding: 10px 10px;
        }
    }

    &.no-wrap {
        flex-wrap: nowrap;

        @media(max-width: 767px) {
            flex-wrap: wrap;
        }

        & .item {
            flex-shrink: 1;
        }
    }

    & .item {
        margin: 12px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 200px;

        @media(min-width: 768px) and (max-width: 970px) {
            flex-basis: 190px;
        }

        @media (max-width: 767px) {
            flex-basis: 178px;
        }

        &.item-sm {
            flex-basis: 170px;
            font-size: $font-size-little;

            @media (max-width: 767px) {
                flex-basis: 130px;
                max-width: 130px;
            }
        }
    }

    & .icon-image {
        max-width: 200px;
        max-height: 90px;

        @media(min-width: 768px) and (max-width: 980px) {
            max-width: 140px;
        }
    }
}

.circle-grey {
    margin-left: auto;
    margin-right: auto;

    background-color: $icons-grey;

    &.icon-bg {
        border-radius: 122px;
        width: 122px;
        height: 122px;

        & .icon {
            font-size: 80px;
        }

        @media(min-width: 768px) and (max-width: 980px) {
            border-radius: 97px;
            width: 97px;
            height: 97px;

            & .icon {
                font-size: 60px;
            }
        }

        @media (max-width: 767px) {
            border-radius: 90px;
            width: 90px;
            height: 90px;

            & .icon {
                font-size: 50px;
            }
        }
    }

    &.icon-sm {
        border-radius: 100px;
        width: 100px;
        height: 100px;

        & .icon {
            font-size: 60px;
        }

        @media(min-width: 768px) and (max-width: 980px) {
            width: 90px;
            height: 90px;
            border-radius: 90px;
        }

        @media (max-width: 767px) {
            border-radius: 85px;
            width: 85px;
            height: 85px;

            & .icon {
                font-size: 50px;
            }
        }
    }

    &:hover, &:focus, .active & {
        background-color: $gold-color;
    }

    .icon {
        fill: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;
}