.training-modal {
    & .modal-dialog {
        width: 383px;

        @media (min-width: 768px) {
            margin: 267px auto;
        }
        @media (max-width: 767px) {
            margin: 267px auto;
            width: 291px;
        }
    }

    & .modal-content {
        border-radius: 20px;
        border: 5px solid $border-grey-color;
        background-color: $body-background-color;
    }

    & .modal-header {
        border-bottom: 0;
        padding: 14px 7px 12px 25px;

        & .close {
            width: 30px;
            height: 30px;
            border-radius: 11px;
            border: 1px solid $border-grey-color;
            background-color: $gold-color;
            opacity: 1;
            font-size: 30px;
            margin-top: -3px;
            margin-right: -1px;
            line-height: 0;
            padding: 8px;

            & span {
                position: relative;
                left: -1px;
            }
        }

        & .modal-title {
            color: $text-color;
            font-family: $font-family;
            font-size: $font-size-base;
            font-weight: 300;
            line-height: 1.125;
        }

        @media (max-width: 767px) {
            & .modal-title {
                font-size: 17px;
            }

            & .close {
                width: 11px;
                height: 11px;
                border-radius: 7px;
                opacity: 1;
                font-size: 17px;

                & span {
                    position: relative;
                    left: -2.9pt;
                }
            }
        }
    }

    & .modal-body {
        padding: 0 19px;

        & .form-group {
            margin-bottom: 30px;
        }
        & .form-control {
            height: 55px;
            border-radius: 20px;
            border: 1px solid $border-grey-color;
            background-color: $body-background-color;
            font-size: $font-size-base;
            font-weight: 300;
            color: $text-color;
        }
        & .btn-submit {
            border-radius: 20px;
            padding: 14px;
            font-size: $font-size-base;
            font-weight: 300;
            color: $text-color;
            line-height: 1;
        }

        @media (max-width: 767px) {
            & .form-group {
                margin-bottom: 16px;
            }
            & .form-control {
                height: 27px;
                border-radius: 13px;
                font-size: $font-size-little;
            }
            & .btn-submit {
                border-radius: 13px;
                padding: 8px;
                font-size: $font-size-little;
            }
        }
    }
}