.top-main-navbar {
    position: fixed;
    top: 120px;
    width: inherit;
    z-index: 20;
    transition: All 0.3s ease;

    @media (max-width: 767px) {
        width: auto;
        left: 0;
        top: 90px;

        .collapse.in & {
            margin-left: 0;
        }

        & .navbar-toggle {
            left: 0;
            width: 20px;
            position: fixed;
            margin: 0px;
            padding: 0px 0px;
            width: 20px;
            height: 50px;
            border: 0;
            background-color: $grey-color;
            border-radius: 0;

            transition-property: left;
            transition-duration: .35s;
            transition-timing-function: ease;

            &.active {
                left: 300px;

                & span {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    @media (max-width: 480px) {
        & .navbar-toggle.active {
            left: 70%;
        }
    }

    &.full-top {
        top: 0px;
        box-shadow: 0px 10px 24px 0px rgba(194, 194, 195, 0.43);
    }

    & .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar {
        margin-bottom: 0;

        &.no-border {
            border: 0;
        }
    }
}

// Default navbar
.navbar-default {

    .navbar-text {
        color: $text-color;
    }

    .navbar-nav {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: $font-family;
        font-size: $font-size-base;
        font-weight: 400;
        text-transform: uppercase;

        > li {
            flex-grow: 1;
            text-align: center;

            > a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $text-color;
                height: 100%;
                line-height: $font-size-base;
                background-color: $background-color;

                &:hover,
                &:focus {
                    color: $text-color;
                    text-decoration: underline;
                    background-color: $background-color;
                }
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: $text-color;
                background-color: $grey-color;
                text-decoration: underline;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $text-color;
                background-color: $grey-color;
            }
        }
        > .no-wrap > a {
            white-space: nowrap;
        }

        @media(min-width: 768px) {
            font-size: $font-size-small;
        }
    }

    @media (max-width: 767px) {
        & .navbar-collapse {
            position: fixed;
            width: 300px;
            margin-left: -70%;
            height: 100%;
            transition-property: margin-left;
            transition-duration: .35s;
            transition-timing-function: ease;
            background-color: $background-color;
            border: 0;

            &.active {
                margin-left: 0;
            }
        }

        .navbar-nav {
            height: 100%;
            display: block;
            margin: 0;

            & > li {
                height: 80px;
            }
        }
    }

    @media (max-width: 480px) {
        & .navbar-collapse {
            width: 70%;
        }
    }
}