.the-box {
    padding: 15px;
    margin-bottom: 30px;
    background: $background-color;
    border: 1px solid #D5DAE0;
    position: relative;

    &.no-border {
      border: none;
    }

    &.no-margin {
        margin: 0;
    }

    & .avatar {
        width: 150px;

        &.with-margin {
            margin: 15px auto;
        }
    }

    @media (min-width: 768px) and (max-width: 980px) {
        & .avatar {
            width: 97px;
        }
    }

    @media (max-width: 767px) {
        & .avatar {
            width: 78px;
        }
    }
}