.panel-section {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;

  & .panel-heading {
    background-color: $gold-color;
    font-size: $font-size-large;
    font-weight: 700;
    text-align: center;
    padding: 19px auto;
    text-transform: uppercase;
    border: 0;

    @media (max-width: 767px) {
      font-size: $font-size-small;
    }

    @media (min-width: 768px) and (max-width: 980px) {
      font-size: $font-size-base;
    }
  }

  & .panel-body {
    background-color: $background-color;
    padding: 0;

    & .text-default {
      margin: 0;
    }
  }
}

.start-training {
  height: 560px;
  text-align: center;
  position: relative;

  & .background-image {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../images/beginning.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    max-width: 80%;
    padding: 27px;
    border-radius: 15px;
    top: 230px;
    line-height: 1;

    @media(min-width: 768px) and (max-width: 980px) {
      width: 390px;
      padding: 28px;
      top: 186px;

      &.start-text {
        font-size: $font-size-base;
      }
    }

    @media(max-width: 767px) {
      width: 244px;
      padding: 13px;
      top: 116px;

      &.start-text {
        font-size: $font-size-little;
      }
    }
  }

  & .start-text {
    font-size: $font-size-large;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color;
  }

  @media(max-width: 767px) {
    height: 280px;
  }
}

.contacts-section {
  background-color: $background-grey-color;
  //height: 233px;
  padding-left: 19px;
  padding-top: 25px;
  padding-bottom: 10px;

  & .contacts {
    position: relative;

    & .icons {
      width: 127px;
      margin-right: 7px;
      margin-bottom: 22px;

      @media (min-width: 768px) and (max-width: 980px) {
        width: 100px;
      }

      @media (max-width: 767px) {
        width: 80px;
        margin-bottom: 0px;
      }

      & img {
        width: 100%;
      }
    }
    & .pull-right.bottom {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .share {
    padding-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & .inline {
      align-self: center;
      padding: 5px;
      height: 35px;

      & .fb-share-button span {
        vertical-align: inherit !important;
      }
    }
  }
}

.program {
  &-icons {
    & .item {
      cursor: pointer;
      outline: none;
    }
  }

  &-info {
    display: none;
    padding: 15px 55px;
    position: relative;
    box-shadow: 0px 10px 24px 0px rgba(194, 194, 195, 0.43) inset;

    @media(min-width: 768px) and (max-width: 980px) {
      padding: 15px 40px;
    }

    @media(max-width: 767px) {
      padding: 15px 6px;
    }

    & .close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      background-color: transparent;
      opacity: 1;
      font-size: 30px;
      margin-top: -3px;
      margin-right: -1px;
      line-height: 0;
      padding: 8px;
      outline: none;

      & span {
        position: relative;
        left: -1px;
      }

      &:hover, &:focus, .active & {
        color: $gold-color;
      }
    }

    & .program-toolbar {
      float: right;
      right: 0;
      width: 312px;
      padding-left: 38px;

      ul.nav-tabs {
        & > li {
          margin-bottom: 26px;

          &:last-of-type {
            margin-bottom: 0;
          }
          &.active .btn-program {
            background-color: $gold-color;
          }
        }

        border-bottom: 0;
      }

      & .btn-program {
        position: relative;
        width: 274px;
        height: 125px;
        border-radius: 20px;
        font-family: $font-family;
        font-size: $font-size-base;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1;
        background-color: #a7a6a6;
        padding: 50px 19px;
        text-align: center;
        white-space: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(min-width: 768px) and (max-width: 980px) {
          width: 128px;
          font-size: $font-size-small;

        }

        @media(max-width: 767px) {
          width: 113px;
          font-size: $font-size-little;

        }

        &:hover, &:focus, &.active {
          background-color: $gold-color;
        }

        & .background {
          position: absolute;
          top: 22px;
          left: 0px;
          margin-left: auto;
          margin-right: auto;
          fill: #cacaca;
          height: 80px;
          z-index: 1;
        }

        & p {
          z-index: 2;
          position: relative;
          margin: 0;
        }
      }

      @media(min-width: 768px) and (max-width: 980px) {
        width: 144px;
        padding-top: 25px;
      }

      @media(max-width: 767px) {
        width: 124px;
        padding-left: 6px;
        padding-top: 25px;

        ul.nav-tabs {
          & > li {
            margin-bottom: 56px;
          }
        }
      }
    }

    & .tab-pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  @media (max-width: 767px) {
    &-icons {
      display: block;

      &.icon-items .item {
        max-width: 100%;

      }
    }
  }
}