// Body
$body-bg: #fff;

// Typography
$font-family: 'Roboto Condensed', sans-serif;
;
$font-size-base: 25px;
$font-size-large: 33px;
$font-size-small: 21px;
$font-size-little: 18px;
$text-color: #000;

// Colors
$background-color: #fcfaf5;
$dark-background-color: #e0e4e1;

$body-background-color: #fbfaf5;

$gold-color: #f1c90c;
$grey-color: #a7a9a7;

$border-grey-color: #acacac;

//icons
$icons-grey: #999;

$background-grey-color: #828280;


$notification-width: 360px;
$notification-top-position: 82px;

$dark-color: 		#3d3c3c;
$light-color: 	#ffffff;
$black-color: 	#000000;
$body-color: 		#555555;
