@import "fonts";
@import "variables";
@import "header";
@import "navbar";
@import "carousel";
@import "icons";
@import "section";
@import "panel";
@import "button";
@import "modal";
@import "notification";

html {
    height: 100%;
}

body {
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: 1;
    height: 100%;
    color: $text-color;

    @media(min-width: 980px) {
        background-color: $body-background-color;
    }

    @media(max-width: 979px) {
        font-size: $font-size-small;
    }

    @media (max-width: 480px) {
        font-size: $font-size-little;
    }
}

.content {
    padding-top: 200px;

    &.no-padding-top {
        padding-top: 80px;
    }

    @media(max-width: 767px) {
        padding-top: 90px;

        &.no-padding-top {
            padding-top: 0px;
        }
    }
}

main {
    position: relative;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    padding: 0;
    width: 100%;

    @media (min-width: 980px) {
        width: 980px;
        background-color: $body-background-color;
        box-shadow: 0 0 24px 27px rgba(194, 194, 195, 0.43);
    }
}

.text-default {
    padding: 29px 20px 0;
    font-weight: 300;
}

.row-items-2 {
    width: 50%;
    padding: 0;
    margin: 0;

    &.right-row {
        float: right;
    }

    & .image {
        width: 100%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

svg {
    width: 100%;
    height: auto;
}

.heading {
    width: inherit;
}

h4, p {
    &.bolded {
        font-weight: 700;
    }
}

img {
    &.full-width {
        width: 100%;
    }
}