.image {
    &-view {
        margin: auto auto 5%;
        overflow: hidden;

        & img {
            width: 100%;
        }
    }

    &-body {
        padding-right: 15px;
        padding-left: 15px;
    }

    &-upload {
        overflow: hidden;

        & label {
            display: block;
            float: left;
            clear: left;
            width: 100px;
        }
        & input {
            display: block;
            margin-left: 110px;
        }
    }

    &-alert {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &-wrapper {
        height: auto;
        min-height: 0;
        width: 100%;
        margin-top: 15px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
        background-color: #fcfcfc;
        overflow: hidden;

        & img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    &-preview {
        float: left;
        margin-top: 15px;
        margin-right: 15px;
        background-color: #fff;
        overflow: hidden;

        &:hover {
            border-color: #ccf;
            box-shadow: 0 0 5px rgba(0, 0, 0, .15);
        }

        & img {
            width: 100%;
        }

        @media (min-width: 992px) {
            float: none;
        }

        &.preview {

            &-lg {
                height: 184px;
                width: 184px;
                margin-top: 15px;
            }

            &-md {
                height: 100px;
                width: 100px;
            }

            &-sm {
                height: 50px;
                width: 50px;
            }
        }
    }

    &-btns {
        margin-top: 30px;
        margin-bottom: 15px;

        & .btn-group {
            margin-right: 5px;
        }
    }

    .loading {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .75;
        filter: alpha(opacity=75);
        z-index: 20140628;
    }
}