.page-head {
    h2 {
        .buttons {
            float: right;
        }
    }
}

.switch-button {
    &&-yesno input[type="checkbox"]:checked + span label:before {
        content: "Да";
    }
    &&-yesno label:before {
        content: "Нет";
    }
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}


.icons-list {
    & .icon-sm {
        width: 100px;
        height: 100px;

        & .icon {
            font-size: 60px;
        }

        & .icon-sm {
            font-size: 40px;

            &.middle{
                vertical-align: middle;
            }
        }

        @media (min-width: 768px) and (max-width: 980px) {
            width: 90px;
            height: 90px;
        }

        @media (max-width: 767px) {
            width: 85px;
            height: 85px;

            & .icon {
                font-size: 20px;
            }
        }
    }

    & .icon {
        display: inline-block;
        height: 1em;
        width: 1em;
        stroke: inherit;
        position: relative;
        fill: black;
    }
}

textarea.without-resize{
    resize: vertical;
}